@font-face {
	font-family: 'Meltix';
	src: url('./Resources/Fonts/meltix/Meltix_Light_Demo.otf') format('opentype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Meltix';
	src: url('./Resources/Fonts/meltix/Meltix_Light_Italic_Demo.otf') format('opentype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Meltix';
	src: url('./Resources/Fonts/meltix/Meltix_Regular_Demo.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Meltix';
	src: url('./Resources/Fonts/meltix/Meltix_Italic_Demo.otf') format('opentype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Meltix';
	src: url('./Resources/Fonts/meltix/Meltix_Bold_Demo.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Meltix';
	src: url('./Resources/Fonts/meltix/Meltix_Bold_italic_Demo.otf') format('opentype');
	font-weight: 700;
	font-style: italic;
}
